h1 {
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto 2rem;
    background: var(--white);
    padding: 1rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

input, button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: var(--radius);
    border: 1px solid var(--extra-light);
}

button {
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
}