
.flight {
    background-color: var(--white);
    padding: 1rem;
    margin: 1rem auto;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    max-width: 600px;
}

.flight strong {
    color: var(--primary-color-dark);
}